<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<div class="">
    <div class="row1">
        <label class="label">Policy Number</label>
        <label class="value">12345678</label>
    </div>
    <div class="row2">
        <label class="label">Policy Owner Name</label>
        <label class="value">UserName</label>

    </div>
    <div class="row1">
        <label class="label">Product</label>
        <label class="value">XYZ Plan</label>

    </div>
    <div class="row2">
        <label class="label">Policy Status</label>
        <label class="value">Active</label>

    </div>
    <div class="row1">
        <label class="label">Issue Date</label>
        <label class="value">MM/DD/YYYY</label>

    </div>
    <div class="row2">
        <label class="label">Effective Date</label>
        <label class="value">MM/DD/YYYY</label>

    </div>
    <div class="row1">
        <label class="label">Issue state</label>
        <label class="value">NY</label>

    </div>
    <div class="row2">
        <label class="label">Product Type</label>
        <label class="value">A1</label>

    </div>
    <div class="row1">
        <label class="label">Company Code</label>
        <label class="value">010</label>

    </div>
    <div class="row2">
        <label class="label">Policy Issue Age</label>
        <label class="value">123</label>

    </div>
    <div class="row1">
        <label class="label">Maturity Date</label>
        <label class="value">MM/DD/YYYY</label>

    </div>
    <div class="row2">
        <label class="label">LBR Eff Date</label>
        <label class="value">MM/DD/YYYY</label>

    </div>
    <div class="row1">
        <label class="label">LBR Terminate Date</label>
        <label class="value">MM/DD/YYYY</label>

    </div>
    <div class="row2">
        <label class="label">DBR Eff Date</label>
        <label class="value">MM/DD/YYYY</label>

    </div>
    <div class="row1">
        <label class="label">DBR Terminate Date</label>
        <label class="value">MM/DD/YYYY</label>

    </div>


</div>