<div class="policy-content">
    <div class="row1">
        <label class="label">Policy Number</label>
        <label class="value">12345678</label>
    </div>
    <div class="row2">
        <label class="label">Insured</label>
        <label class="value">UserName</label>

    </div>
    <div class="row1">
        <label class="label">Product</label>
        <label class="value">XYZ Plan</label>

    </div>
    <div class="row2">
        <label class="label">Status</label>
        <label class="value">Active</label>

    </div>
    <div class="row1">
        <label class="label">Issue Date</label>
        <label class="value">MM/DD/YYYY</label>

    </div>
    <div class="row2">
        <label class="label">Base Policy Amount</label>
        <label class="value">$123456</label>

    </div>
    <div class="row1">
        <label class="label">Frequency</label>
        <label class="value">Monthly</label>

    </div>
    <div class="row2">
        <label class="label">Bill Method</label>
        <label class="value">Direct</label>

    </div>
    <div class="row1">
        <label class="label">Premium Due Date</label>
        <label class="value">MM/DD/YYYY</label>

    </div>
    <div class="row2">
        <label class="label">Premium Due</label>
        <label class="value">$12345</label>

    </div>
    <div class="row1">
        <label class="label">Last Premium Due Date</label>
        <label class="value">MM/DD/YYYY</label>

    </div>
    <div class="row2">
        <label class="label">Last Paid Amount</label>
        <label class="value">$1234</label>

    </div>
    <div class="row1">
        <label class="label">Joint Insured</label>
        <label class="value">None</label>

    </div>


</div>