.policy-content{
    text-align: left;
    // margin-top: 20px;
    height: inherit;
}

.label{
    font-weight: 500;
    float: left;
    position: absolute;
    padding-left: 14px;
}

.row1{
    padding-left: 10px;
    background-color:#F1F4FFFF ;
    height: 40px;
    padding-top: 10px;
}

.row2{
    padding-left: 10px;
    height: 40px;
    padding-top: 10px;
   // background-color:#F1F4FFFF ;
}

div{
    padding: -30px;
    vertical-align: middle;
}

.value{
    margin-left: 250px;
    vertical-align: middle;
  
}