<div class="policy-content">
    <div class="row1">
        <label class="label">Policy Number</label>
        <label class="value">12345678</label>
    </div>
    <div class="row2">
        <label class="label">Company Code</label>
        <label class="value">010</label>

    </div>
    <div style=" background-color: rgb(180, 203, 233);font-weight: 600;padding-left: 24px;" class="row1">
        Bill Frequency
    </div>
    <div class="row1">
        <label class="label">Billing Frequency</label>
        <label class="value">12</label>

    </div>
    <div class="row2">
        <label class="label">Payment Due Date</label>
        <label class="value">DD/MM/YYYY</label>

    </div>
    <div class="row1">
        <label class="label">Bill Client Number</label>
        <label class="value">1234565</label>

    </div>
    <div style=" background-color: rgb(180, 203, 233);font-weight: 600;padding-left: 24px;" class="row1">
        Bill Details
    </div>
   
    <div class="row1">
        <label class="label">Last Bill Date</label>
        <label class="value">MM/DD/YYYY</label>

    </div>
   
    <div class="row2">
        <label class="label">Last Billing Amount</label>
        <label class="value">150.00</label>

    </div>
    <div class="row1">
        <label class="label">Initial Deposit Premium</label>
        <label class="value">150.00</label>

    </div>
    <div class="row2">
        <label class="label">Account Details</label>
        <label class="value">xxxxxxxxxxxxxxx8851</label>

    </div>
   
</div>