<div class="wrapper">
    <div id="formContent">
        <div class="header"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #A59C94FF;"> 
            <div class="navbar-nav">
                <a class="nav-item nav-link " href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="#">Policy</a>
              </div>
        </nav>
        <mat-tab-group >
            <div>
                <mat-tab label="Policy Summary" ><policy-summary></policy-summary></mat-tab>
                <mat-tab label="Billing Details"><billing-detail></billing-detail></mat-tab>
            </div>

        </mat-tab-group>
        <footer class="footer"></footer>
    </div>
</div>